<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Image Caption Generation using Deep Learning</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Form Area -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="ti-close"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="alimeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="./index.html"><img src="./img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li><a href="{{ url_for('first')}}">Home</a></li>
                                    
                                    <li><a href="{{ url_for('login')}}">Login</a></li>
                                    <li class="active"><a href="{{ url_for('index')}}">Preview</a></li>
                                    
                                </ul>

                                <!-- Search Icon -->
                               
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(../static/img/bg-img/images8.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Preview</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                
                                <li class="breadcrumb-item active" aria-current="page">Image Caption</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- About Us Area Start -->
    
    <!-- About Us Area End -->

    <!-- Why Choose Us Area Start -->
    <section class="why-choose-us-area bg-gray section-padding-80-0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>Preview</h2>
                        <div class="navbar-header col-md-11 col-sm-11"><h2 style="font-size: 3.5em;">Image Caption Generation using Deep Learning</h1></div>    
                    </div>
                </div>
            </div>

           
            <section>

                 
                <!-- <form method="POST"action="/" enctype="multipart/form-data">
                <div class="col">
            
                    <div class="input">
                        <h1>captionbot<span style="color:green"></span></h1>
                    <input type="file" class=" choose form-control"name="userfile" placeholder="Your image">
                    
                    <input type="submit" class=" sub btn btn-lg btn-outline-success ">
                </div>
                </div>
                </form> -->
<center>
    <span class="login100-form-title-1">
        Upload Image:
      </span>
                <form class="login100-form validate-form" action="/submit" method="POST" enctype="multipart/form-data">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <br>
                      <input class="input100" type="file" name="userfile" id="userfile" class="btn" accept="image/*" onchange="previewImage();" required>
               
                    </div>
                  
              <img id="preview">
                    <div class="container-login100-form-btn">
                    </br>
                    </br>
                      <button class="btn btn-primary" type="submit"> Submit </button>
                    </div>
                  </form>
                
                </center>
                </section>









        </div>
    </section>
 

    <!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content d-flex align-items-center justify-content-between">
                       
                        </div>
                        <!-- Footer Logo -->
                        <div class="footer-logo">
                            <a href="#"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="../static/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="../static/js/alime.bundle.js"></script>
    <!-- Active -->
    <script src="../static/js/default-assets/active.js"></script>

</body>

</html>